@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Detalhes";
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <h5>Vendedor</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departament)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departament.Name)
        </dd>
    </dl>
    <form class="form-group">
        <a class="btn btn-info" asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
        <a asp-action="Index">Voltar a Lista</a>
    </form>
   
</div>

